@using BangHang.Models.Blog
@model Post

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Model is not null)
{
	<div class="main_slider" style="background-image:url(/Contents/Posts/@Model.Image">
		
	</div>
}


