@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- ChartJS -->
<script src="~/lib/client/plugins/chart.js/Chart.min.js"></script>

@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a asp-action="Index" asp-controller="Home" class="nav-link">Trang chủ</a>
        </li>
      
    </ul>
}


<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-body">
            <div class="bs-stepper-content">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header">
                            <h4 class="card-title"><b>Biểu đồ doanh thu:</b></h4><br />
                            <div class="form-group">
                                <div class="row">
                                    <div class="input-group col-md-6">
                                       
                                       @* <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-clock"></i></span>
                                        </div>*@
                                        <div> <input type="text" class="form-control float-right" id="reservationtime"></div>
                                        <div> <button type="button" id="thongke" class="btn btn-primary ml-4">Thống kê</button></div>
                                    </div>
                                    <div class="col-md-6">
                                      
                                        <input type="radio" id="statisticalDay" name="fav_language" checked="">
                                        <label >Theo ngày</label><br>
                                        <input type="radio" id="statisticalMonth" name="fav_language">
                                        <label >Theo tháng</label><br>
                                        <input type="radio" id="statisticalYear" name="fav_language">
                                        <label >Theo năm</label>
                                    </div>
                                </div>
                               
                                <!-- /.input group -->
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 430px;" width="645" height="375" class="chartjs-render-monitor"></canvas>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <div class="card ">
                        <div class="card-header">
                            <h3 class="card-title">Tổng doanh thu từng ngày</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Ngày</th>
                                        <th>Doanh thu</th>
                                        <th>Lợi nhuận</th>
                                    </tr>
                                </thead>
                                <tbody id="load_data">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</section>






<script src="~/lib/client/plugins/moment/moment.min.js"></script>
<script src="~/lib/client/plugins/moment/statistical.js"></script>

<script src="~/lib/client/plugins/select2/js/select2.full.min.js"></script>
<script src="~/lib/client/plugins/select2/js/select2.full.min.js"></script>

<script src="~/lib/client/plugins/inputmask/jquery.inputmask.min.js"></script>
<!-- date-range-picker -->
<script src="~/lib/client/plugins/daterangepicker/daterangepicker.js"></script>

<script src="~/lib/client/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>















