
@*  Page Admin  *@

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/lib/client/dist/img/admin.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Admin Manager</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-header">Chức năng</li>

            <li class="nav-item">
                <a asp-action="Statistical" asp-controller="Accounts" asp-area="Admins" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Thống kê
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-action="Index" asp-controller="Accounts" asp-area="Admins" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quản lí User
                    </p>
                </a>
            </li>

          <li class="nav-item">
            <a asp-action="Index" asp-controller="Category" asp-area="Blog" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Danh mục bài viết
              </p>
            </a>
          
          </li>

          <li class="nav-item">
            <a asp-action="Index" asp-controller="Post" asp-area="Blog" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Bài viết
              </p>
            </a>
          </li>

           <li class="nav-item">
            <a asp-action="Index" asp-controller="OrderProduct" asp-area="Order" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Đơn hàng
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Quản lý sản phẩm
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a asp-action="Index" asp-controller="CategoryPro" asp-area="Products" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Danh mục sản phẩm</p>
                </a>
              </li>
              <li class="nav-item">
                <a asp-action="Index" asp-controller="Product"  asp-area="Products"  class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Sản phẩm</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-header">EXAMPLES</li>
        </ul>
      </nav>
    </div>