@{
    Layout = "/Views/Shared/_LayoutHome.cshtml";
}


<div class="container single_product_container mb-1">
    <div class="row">
        <div class="col">
            <div class="breadcrumbs d-flex flex-row align-items-center mb-0">
                <ul>
                    <li><a asp-action="Index" asp-controller="Menu" asp-area="Menus">Trang chủ</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Thanh toán</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center col-12 mt-4">
        <h1>Thanh toán thành công</h1>
        <p>Cảm ơn bạn đã mua hàng ở <b>ColoShop</b></p>
        <p>Hãy đến <i>trang chủ</i> để xem thêm những sản phẩm khác -_-</p>
    </div>
    <hr />
</div>
