
@{
    Layout = "/Views/Shared/_LayoutHome.cshtml";
}


<div class="container single_product_container mt-4">
    <div class="row">
        <div class="col">
            <div class="breadcrumbs d-flex flex-row align-items-center mb-0">
                <ul>
                    <li><a asp-action="Index" asp-controller="Menu" asp-area="Menus">Trang chủ</a></li>
                    <li><a href="categories.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Hướng dẫn mua hàng</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="main-contact mt-4">
        <div class="container">
            <div class="page_content_">
                <p style="text-align: justify;"><strong>HƯỚNG DẪN MUA HÀNG</strong></p>
                <p style="text-align: justify;"><strong>Bước 1:</strong> Truy cập website và lựa chọn sản phẩm cần mua để mua hàng</p>
                <p style="text-align: justify;"><strong>Bước 2:</strong> Click vào sản phẩm muốn mua, màn hình hiển thị ra pop up với các lựa chọn sau</p>
                <p style="text-align: justify;">Nếu bạn muốn tiếp tục mua hàng: Bấm vào phần tiếp tục mua hàng để lựa chọn thêm sản phẩm vào giỏ hàng</p>
                <p style="text-align: justify;">Nếu bạn muốn xem giỏ hàng để cập nhật sản phẩm: Bấm vào xem giỏ hàng</p>
                <p style="text-align: justify;">Nếu bạn muốn đặt hàng và thanh toán cho sản phẩm này vui lòng bấm vào: Đặt hàng và thanh toán</p>
                <p style="text-align: justify;"><strong>Bước 3:</strong> Lựa chọn thông tin tài khoản thanh toán</p>
                <p style="text-align: justify;">Nếu bạn đã có tài khoản vui lòng nhập thông tin tên đăng nhập là email và mật khẩu vào mục đã có tài khoản trên hệ thống</p>
                <p style="text-align: justify;">Nếu bạn chưa có tài khoản và muốn đăng ký tài khoản vui lòng điền các thông tin cá nhân để tiếp tục đăng ký tài khoản. Khi có tài khoản bạn sẽ dễ dàng theo dõi được đơn hàng của mình</p>
                <p style="text-align: justify;">Nếu bạn muốn mua hàng mà không cần tài khoản vui lòng nhấp chuột vào mục đặt hàng không cần tài khoản</p>
                <p style="text-align: justify;"><strong>Bước 4:</strong> Điền các thông tin của bạn để nhận đơn hàng, lựa chọn hình thức thanh toán và vận chuyển cho đơn hàng của mình. Chú ý phí ship hàng chúng tôi sẽ gọi điện trực tiếp thông báo cho bạn trước khi giao hàng.&nbsp;</p>
                <p style="text-align: justify;"><strong>Bước 5:</strong> Xem lại thông tin đặt hàng, điền chú thích và gửi đơn hàng</p>
                <p style="text-align: justify;">Sau khi nhận được đơn hàng bạn gửi chúng tôi sẽ liên hệ bằng cách gọi điện lại để xác nhận lại đơn hàng và địa chỉ của bạn.</p>
                <p style="text-align: justify;"><strong>GIAO NHẬN VÀ THANH TOÁN</strong></p>
                <p>+ &nbsp; &nbsp;&nbsp;Đối với Hà Nội và Hồ Chí Minh&nbsp;giao hàng thu tiền</p>
                <p>&nbsp;+ &nbsp; &nbsp;Các tỉnh khác xin vui lòng chuyển khoản trước vào một trong các số tài khoản ghi bên dưới</p>
                <p>+ &nbsp; &nbsp;Vận chuyển bằng ship hoặc xe ôm đối với phạm vi gần. Xa vận chuyển bằng chuyển phát nhanh đối với hàng nhẹ, chuyển oto hoặc tàu đối với hàng nặng</p>
                <p><strong>ĐỔI TRẢ VÀ BẢO HÀNH</strong></p>
                <p>+ &nbsp; &nbsp;Đổi hàng trong thời gian 48h kể từ ngày mua. &nbsp;</p>
                <p>+ &nbsp; &nbsp;Chỉ được đổi sản phẩm ngang giá hoặc cao hơn</p>
                <p>+ &nbsp; &nbsp;Giữ hoá đơn khi mua để được đổi hàng</p>
                <p>+ &nbsp; &nbsp;Sản phẩm đổi phải còn nguyên mác, còn mới, không rách, va đập ...</p>
                <p>+ &nbsp; &nbsp;Chỉ được đổi tại cửa hàng đã mua trước đó</p>
                <p>+ &nbsp; Đối với khách hàng ở xa, chuyển hàng quay lại cho shop qua đường bưu điện, khi shop nhận được hàng trả lại sẽ tiến hành đổi&nbsp;hàng&nbsp;cho khách. Chi phí đổi hàng phát sinh khách hàng chịu</p>
                <p>+ &nbsp; &nbsp;Bảo hành 3 tháng đối với các sản phẩm là máy móc</p>
                <p>+ &nbsp; &nbsp;Các sản phẩm khác không bảo hành</p>
                <p><strong>CHÍNH SÁCH BẢO MẬT THÔNG TIN CÁ NHÂN</strong></p>
                <p>- Trang web của chúng tôi coi trọng việc bảo mật thông tin và sử dụng các biện pháp tốt nhất bảo vệ thông tin&nbsp;của Quý khách.</p>
                <p>- Chúng tôi cũng cam kết bảo mật thông tin cá nhân của bạn bằng mọi cách thức có thể và chỉ sử dụng thông tin của quý khách hàng gồm số điện thoại và địa chỉ để liên lạc giao hàng, ngoài ra không sử dụng vào mục đích khác.&nbsp;</p>
                <p>- Chúng tôi khuyến cáo Quý khách nên bảo mật các thông tin liên quan đến mật khẩu truy xuất và không nên chia sẻ với bất kỳ ai. Nếu sử dụng máy tính chung nhiều người, Quý khách nên đăng xuất, hoặc thoát hết tất cả cửa sổ Website đang mở.</p>
                <p>- Chúng tôi không chịu trách nhiệm về những mất mát Quý khách có thể gánh chịu trong việc trao đổi thông tin của quý khách qua internet hoặc email.</p>
                <p>Trân trọng cảm ơn!</p>
            </div>
        </div>
    </section>
</div>


