@using BangHang.Models.Blog
@model List<Post>
@{
    var category = ViewBag.Category as Category;
}

<div class="container rounded bg-white mt-50 mb-5">

    <div class="row">
        <div class="col">
            <div class="breadcrumbs d-flex flex-row align-items-center mb-0">
                <ul>
                    <li><a asp-action="Index" asp-controller="PostBlog" asp-area="Users">Blog</a></li>
                    <li><a href="categories.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Các bài viết liên quan đến @category?.Title</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <br />
@if(Model?.Count() > 0)
    {
        foreach(var item in Model)
        {
            <div class="col-md-9 mb-4">
                <div class="card">
                    <div class="card-header p-2">
                        <p class="description">@item.Title</p>
                        <p>@item.DateCreate</p>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">
                                <!-- Post -->
                                <div class="post mb-3">
                                    <p>
                                        @item.DesCriptions
                                    </p>
                                    <div class="user-block mb-4">
                                        <img class="img-circle img-bordered-sm" src="/Contents/Posts/@item.Image" alt="user image">
                                    </div>
                                    <p>
                                        <span class="float-right">
                                            <a asp-action="PostBlogDetail" asp-controller="PostBlog" asp-area="Users" asp-route-id="@item.Id" class="link-black text-sm">
                                                ... Xem thêm
                                            </a>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        }
    }
</div>